@media (max-width: 768px) {}
    form input[type="submit"] {
        padding: 15px;
    }
@media (max-width: 480px) {
        body {
        padding: 10px;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 768px) {
    textarea {
        height: 150px;
    }
 }    