.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    flex-direction: wrap;
}
.grid-item { 
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    &-description {
        margin: 10px 0;
        font-weight: bold;
    }
    &-masinfo {
        background-color: #4CAF50;
        color: $tercer-color;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
    }
    img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
    &:hover {
    background-color: #454645;
}
}
.grid-center {
    display: block;
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
    height: 450px;
    border: 0;
    border-radius: 5px;
}
.grid-center {
    display: grid;
    place-items: center;
    text-align: center;
}
.metodos {
    display: grid;
    place-items: center;
    text-align: center; 
}
.btn-primary {
    --bs-btn-bg: darkgrey;
}
.card {
     width: 18rem,
}
.cont-intro {
    flex-direction: column;
    align-items: flex-start;
}
.breadcrumb-item {
    border: #4CAF50;
}