  .cont-intro {
    @include flex-center;
  .intro {
      list-style: none;
      padding: 0;
        li {
        display: inline;
        margin: 0 10px;
            a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
.grid-center {
  @include flex-center;
  flex-direction: column;
  text-align: center;
 .center-img {
    width: 300px;
    margin: 20px 0;
  }
  .iframe {
    margin: 20px 0;
  }
}
.end {
 .imagjuanita {
    width: 80px;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
}